<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TaskManagerWebUrl" value="http://10.1.13.28:8046/"/>
    <add key="NodeID" value="491299"/>
    <add key="consul" value="http://10.4.13.58:8011"/>
      <add key="java_bin" value="C:\Program Files\Java\jre1.8.0_121\bin"/>
    <add key="cron_shell" value="cron_shell"/>
  </appSettings>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
   
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
        </dependentAssembly>
      </assemblyBinding>
   
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
